@font-face {
  font-display: swap;
  font-family: "Rubik-regular";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/rubik-v28-arabic_cyrillic_cyrillic-ext_hebrew_latin_latin-ext-regular.eot");
  src: url("../assets/fonts/rubik-v28-arabic_cyrillic_cyrillic-ext_hebrew_latin_latin-ext-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/rubik-v28-arabic_cyrillic_cyrillic-ext_hebrew_latin_latin-ext-regular.woff2")
      format("woff2"),
    url("../assets/fonts/rubik-v28-arabic_cyrillic_cyrillic-ext_hebrew_latin_latin-ext-regular.woff")
      format("woff"),
    url("../assets/fonts/rubik-v28-arabic_cyrillic_cyrillic-ext_hebrew_latin_latin-ext-regular.ttf")
      format("truetype"),
    url("../assets/fonts/rubik-v28-arabic_cyrillic_cyrillic-ext_hebrew_latin_latin-ext-regular.svg#Rubik")
      format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Rubik-medium";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/rubik-v28-arabic_cyrillic_cyrillic-ext_hebrew_latin_latin-ext-500.eot");
  src: url("../assets/fonts/rubik-v28-arabic_cyrillic_cyrillic-ext_hebrew_latin_latin-ext-500.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/rubik-v28-arabic_cyrillic_cyrillic-ext_hebrew_latin_latin-ext-500.woff2")
      format("woff2"),
    url("../assets/fonts/rubik-v28-arabic_cyrillic_cyrillic-ext_hebrew_latin_latin-ext-500.woff")
      format("woff"),
    url("../assets/fonts/rubik-v28-arabic_cyrillic_cyrillic-ext_hebrew_latin_latin-ext-500.ttf")
      format("truetype"),
    url("../assets/fonts/rubik-v28-arabic_cyrillic_cyrillic-ext_hebrew_latin_latin-ext-500.svg#Rubik")
      format("svg");
}
* {
  box-sizing: border-box;
  user-select: none;
}
body {
  margin: 0;
  padding: 0;
  height: 200vh;
}
.parent{
    width: 70%;
    height: 900px;
    border-style: solid;
    border-width: 10px;
    border-color: black;
    font-size: 0;
    background-image: url("../assets/images/NajotLogo.png");
    background-size: 800px;
    background-position: left center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: red;
    opacity: .4;
    /* flex-wrap: wrap-reverse; */
    /* flex-direction: column-reverse; */
}
.parent .child{
    width: 200px;
    /* height: 200px; */
    background: red;
    border: 2px solid black;
    text-align: center;
}
.child p{
    font-size: 10px;
    color: white;
    text-decoration: underline;
    margin: 0 auto;
    display: inline;
    line-height: 20px;
    letter-spacing:1px;
    word-spacing: 10px;
    text-transform: capitalize;
    font-style: italic;
}
p{
    text-shadow: red 10px 10px 10px ;
}

/*
  ISC 
  MIT 
*/